/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$theme-color: #46357E;
$secondary-text-color: #2C534F;

.jumbotron {
  background-color: $theme-color;
  color: white;
  height: 260px
}

.title {
  color: white;
}

.doc :hover {
  color: white;
  text-decoration: none;
}

.doc > a {
  color: white;
}

.right {
  clear: both;
  float: right;
  margin-right: 3%;
  color: white
}

.right:hover {
  color: red
}

.list-item {
  font-size: 20px;
}

.category-name {
  color: $secondary-text-color;
}

.description {
  font-size: 30px;
}

.holder {
  color: $theme-color;
  text-align: center;
  background-color: $theme-color;
  color: white;
  border-radius: 20px;
  padding: 5px;
}

.link-holder {
  margin-top: 30px;
  font-size: 20px;
}

.snippet-area {
  width: 900px;
}
