<h2>add category</h2>
<%= form_for @category do |f| %>
  <div class="col-md-6">
    <div class="form-group" >
      <%= f.label "Name of Category" %>
      <%= f.text_field :name, :class => "form-control", :id => "name" %>
    </div>
    <%= f.submit "create", :class => "btn btn-primary", :id => "submit" %>
  </div>
<% end %>
